<section class="section">
	<div class="container">
		<div class="columns is-multiline has-text-centered-mobile items">
			<div class="column  is-full">
				<div class="card is-small">
					<div class="how big mentoring"></div>
					<div class="txt">
						<h3 class="with-subtitle">{{post.mentoring}} semanas de mentoría EN VIVO</h3>
						<p class="is-small">TU decides cuando empezar tus mentorías y en qué horario. Recuerda los horarios disponibles para este curso: <strong>{{post.mentoring_schedule}}</strong></p>
					</div>
				</div>
			</div>
			<div class="column is-full">
				<div class="card is-small">
					<div class="how big content"></div>
					<div class="txt">
					<h3 class="with-subtitle">Aprende cuando y donde quieras</h3>
					<p class="is-small">Acceso de inmediato y 24/7 a todas las lecciones del curso. Videos, recursos descargables, quizzes, tareas y más. Puedes ir a la velocidad que necesites.</p>
					</div>
				</div>
			</div>

			<div class="column is-half-widescreen">
				<div class="card is-small">
					<div class="how chat"></div>
					<div class="txt is-small">
					<h4 class="with-subtitle normal">Comunidad activa</h4>
					<p class="is-small">Canal privado en Discord para estudiantes y mentores del curso.</p>
					</div>

				</div>
			</div>
			<div class="column is-half-widescreen">
				<div class="card is-small">
					<div class="how certification"></div>
					<div class="txt is-small">
					<h4 class="with-subtitle normal">Certificado oficial</h4>
					<p class="is-small">Certificado oficial que pódras descargar siempre.</p>
					</div>

				</div>
			</div>
		</div>
		
	</div>
</section>