<div class="card testimonial vertical">
	<div class="card-content">
		<img src="{{testimonial.thumbnail.src('thumbnail') }}" alt="testimonio de {{testimonial.title}} para cursos de videojuegos y arte digital ARKDE" loading="lazy" width="75px" heigh="75px">
		<div class="icons-list gold is-small">
			<i class="bb-icon-star-fill"></i>
			<i class="bb-icon-star-fill"></i>
			<i class="bb-icon-star-fill"></i>
			<i class="bb-icon-star-fill"></i>
			<i class="bb-icon-star-fill"></i>
		</div>
		<h4 class="subtitle is-size-5 has-text-weight-bold has-tiny-margin-bottom">{{testimonial.title}}</h4>
		<p>{{testimonial.txt}}</p>
	</div>
	
</div>
