<a title="Mentorias programacion de videojuegos" href="{{site.url}}/premium/" class="has-card ">
    <div class="card premium is-small hoverable">
        <div class="card-content">
            <div class="premium-logo">
                premium
            </div>
            <p class="subtituel is-size-4 has-text-weight-bold">Mentorías semanales con programadores de videojuegos</p>
            <ul>
                <li>
                    <i class="bb-icons bb-icon-book"></i>Todos los cursos de programación
                </li>
                <li>
                    <i class="bb-icons bb-icon-calendar"></i>Mensual, semestral o anual
                </li>
                <li>
                    <i class="bb-icons bb-icon-clock"></i>Multiples horarios
                </li>
                <li>
                    <i class="bb-icons bb-icon-board-code"></i>Revisión de tareas
                </li>
            </ul>
        </div>
    </div>
</a>
